.vscode/
.cache/
build/
build-engine/
build-tests/
build-tests-verify/
build-debug/

# build artifacts
/main
/dijkstra_engine
/geodesic_debug

# all cache files 
**/__pycache__/**

# build tests folder from cmake 
**/build-tests**/

.env*
